body {
    height: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.box {
    background-color: black;
    width: 500px;
    height: 140px;
    display: grid;
    grid-template-rows: 30px 100px;
    align-items: center;
    justify-content: center;
}
#loginbox{
    margin:auto;
    background-color:cornsilk;
    width: 200px;
    height:100px;
    box-shadow: 5px 5px 5px;
    border: 1px solid black;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 130px 70px;
    font-size: 14px;
    font-weight: bold;
}
#login {
    font-size: 16px;
    margin-left: 20px;
}
#id, #pw {
    width: 100px;
}

#btn {
    width: 70px;
    height: 100px;
    display: grid;
    grid-template-rows: 50px 50px;
    align-items: center;
    justify-content: center;
}
#loginbutton {
    width: 65px;
    height: 30px;
    margin-top:10px;

}

#joinbutton {
    width: 65px;
    height: 30px;
    margin:auto;

}

#time { 
    width: 400px;
    height: 20px;
    background-color: lightcoral;
    border: 2px hotpink solid;
    border-radius: 4px;
    text-align: center;
    color: lightcyan;
}
